<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="BibliotekaConn"
             connectionString="Server=localhost\SQLEXPRESS;Database=BibliotekaDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="SmtpHost" value="sandbox.smtp.mailtrap.io"/>
		<add key="SmtpPort" value="2525"/>
		<add key="SmtpUser" value="bibliotekarz1@interia.pl"/>
		<add key="SmtpPass" value="ZWtgBdekKpzUD6ud@"/>
	</appSettings>
</configuration>