<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="BibliotekaConn"
             connectionString="Server=localhost\SQLEXPRESS;Database=BibliotekaDB;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUser" value="twoj.email@gmail.com"/>
		<add key="SmtpPass" value="twoje_haslo_aplikacji"/>
	</appSettings>
</configuration>